
@page "/Administrator"
@namespace Census_APP.Models

<h1 class="text-center mb-3">List of Clients</h1>

<a href="/Administrator/Create" class="btn btn-primary mb-3">New Administrator</a>

@if (administrators == null) 
{
	<p><em>Loading..</em></p>
}
else {
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Date Created</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var administrator in administrators)
			{
				<tr>
					<td>@administrator.adminID</td>
					<td>@(administrator.firstname + " " + administrator.lastname)</td>
					<td>@administrator.email</td>
					<td>@administrator.role</td>
					<td>@(administrator.created_at.ToString("MM/dd/yyyy"))</td>
					<td style="white-space:nowrap">
						<a href="/Administrator/Edit/@administrator.adminID" class="btn btn-primary btn-sm">Edit</a>
						<button @onclick="() => DeleteAdministrator(administrator.adminID)" class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
			}
		</tbody>

	</table>
}

@inject HttpClient Http
@inject NavigationManager navManager
@using System.Text.Json.Nodes
@inject IJSRuntime JSRuntime
@code {

	private List<Administrator>? administrators;

	protected override async Task OnInitializedAsync() 
	{
		administrators = await Http.GetFromJsonAsync<List<Administrator>>("http://localhost:5277/API/Administrator");
	}

	protected async Task DeleteAdministrator(int Id)
	{
		var response = await Http.PutAsync($"http://localhost:5277/API/Administrator/{Id}/delete", null);

		if (response.IsSuccessStatusCode)
		{
			// Show alert message
			await JSRuntime.InvokeVoidAsync("alert", "Administrator deleted successfully!");

			// Navigate back to the Administrator page
			navManager.NavigateTo("/Administrator", true);
		}
		else
		{
			var strResponse = await response.Content.ReadAsStringAsync();
			try
			{
				var jsonResponse = JsonNode.Parse(strResponse);
				Console.WriteLine(jsonResponse);
			}
			catch (Exception ex)
			{
				Console.WriteLine($"Error parsing response: {ex.Message}");
			}
		}
	}

}
